@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --prod1-transform: translate(-50%, -10%) scale(2);
  --prod1-filter: blur(30px);
  --prod1-zIndex: 11;
  --prod1-opacity: 0;

  --prod2-transform: translate(0, 0);
  --prod2-filter: blur(0);
  --prod2-zIndex: 10;
  --prod2-opacity: 1;

  --prod3-transform: translate(55%, 10%) scale(0.8);
  --prod3-filter: blur(10px);
  --prod3-z-index: 9;
  --prod3-opacity: 1;

  --prod4-transform: translate(90%, 20%) scale(0.3);
  --prod4-filter: blur(30px);
  --prod4-z-index: 8;
  --prod4-opacity: 0;
}

body {
  font-family: "Poppins";
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* Navbar */
a {
  text-decoration: none;
  color: #555;
}

header {
  width: 1148px;
  max-width: 90%;
  margin: auto;
  height: 50px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

header .logo {
  font-weight: bold;
}

header nav a {
  margin-left: 20px;
  transition: color 0.3s ease;
}
header nav a:hover {
  color: #fb9aac;
}

/* Carousel */
.carousel {
  margin-top: -50px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.carousel::before {
  width: 500px;
  height: 300px;
  content: "";
  background-image: linear-gradient(45deg, #dc422a, #1200ff);
  position: absolute;
  z-index: -1;
  border-radius: 40% 30% 90% 30%;
  filter: blur(150px);
  top: 50%;
  left: 50%;
  transform: translate(-10%, -30%);
  transition: 1s;
}

.carousel .prodShowcaseList {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1140px;
  max-width: 90%;
  height: 100%;
}

.carousel .prodShowcaseList .product {
  position: absolute;
  left: 0;
  top: 0;
  width: 70%;
  height: 100%;
  font-size: 15px;
}

.carousel .prodShowcaseList .product img {
  width: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .prodShowcaseList .product .intro {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  opacity: 0;
  pointer-events: none;
}

.carousel .prodShowcaseList .product .intro .title {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 0.8em;
  font-family: "Poppins";
}
.carousel .prodShowcaseList .product .intro .name {
  font-size: 3em;
  font-weight: 500;
}
.carousel .prodShowcaseList .product .intro .desc {
  font-size: small;
  font-weight: 300;
}
.carousel .prodShowcaseList .product .intro .cost {
  font-weight: 500;
  margin-top: 1.3em;
}
.carousel .prodShowcaseList .product .intro .learnMore {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #555;
  font-family: Poppins;
  font-weight: bold;
  margin-top: 1.2em;
  padding: 5px 0;
  cursor: pointer;
  transition: color 0.2s ease;
}
.carousel .prodShowcaseList .product .intro .learnMore:hover {
  color: #fb9aac;
  border-bottom: 1px solid #fb9aac;
}

/* Carousel Animations */
.carousel .prodShowcaseList .product:nth-child(2) .intro .title,
.carousel .prodShowcaseList .product:nth-child(2) .intro .name,
.carousel .prodShowcaseList .product:nth-child(2) .intro .desc,
.carousel .prodShowcaseList .product:nth-child(2) .intro .cost,
.carousel .prodShowcaseList .product:nth-child(2) .intro .learnMore {
  opacity: 0;
  animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}

@keyframes showContent {
  from {
    transform: translateY(50px);
    filter: blur(30px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}

/* Animation delay for content */
.carousel .prodShowcaseList .product:nth-child(2) .intro .title {
  animation-delay: 0.1s;
}
.carousel .prodShowcaseList .product:nth-child(2) .intro .name {
  animation-delay: 0.2s;
}
.carousel .prodShowcaseList .product:nth-child(2) .intro .desc {
  animation-delay: 0.4s;
}
.carousel .prodShowcaseList .product:nth-child(2) .intro .cost {
  animation-delay: 0.6s;
}
.carousel .prodShowcaseList .product:nth-child(2) .intro .learnMore {
  animation-delay: 0.8s;
}
/* end Animation delay for content */

/* Product 2 is the active one */
.carousel .prodShowcaseList .product:nth-child(2) .intro {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s;
}
/* Rest of the item will be hidden from view */
.carousel .prodShowcaseList .product:nth-child(n + 4) {
  opacity: 0;
  pointer-events: none;
}

/* Setting the visuals for the products */
.carousel .prodShowcaseList .product:nth-child(1) {
  transform: var(--prod1-transform);
  filter: var(--prod1-filter);
  z-index: var(--prod1-zIndex);
  opacity: var(--prod1-opacity);
  pointer-events: none;
}
.carousel .prodShowcaseList .product:nth-child(2) {
  transform: var(--prod2-transform);
  filter: var(--prod2-filter);
  z-index: var(--prod2-zIndex);
  opacity: var(--prod2-opacity);
}
.carousel .prodShowcaseList .product:nth-child(3) {
  transform: var(--prod3-transform);
  filter: var(--prod3-filter);
  z-index: var(--prod3-z-index);
  opacity: var(--prod3-opacity);
  pointer-events: none;
}
.carousel .prodShowcaseList .product:nth-child(4) {
  transform: var(--prod4-transform);
  filter: var(--prod4-filter);
  z-index: var(--prod4-z-index);
  opacity: var(--prod4-opacity);
  pointer-events: none;
}

/* Carousel Arrow Icons */
.carouselControl {
  position: absolute;
  bottom: 10px;
  width: 1140px;
  max-width: 90%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  cursor: pointer;
}

.carouselControl #next,
.carouselControl #prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-family: monospace;
  font-size: large;
  font-weight: bold;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Next Arrow Click Effect */
/* To animate to Product 2 */
.carousel.next .prodShowcaseList .product:nth-child(1) {
  animation: posItem2Anim 0.5s ease-in-out 1 forwards;
}
@keyframes posItem2Anim {
  from {
    /* Taken from initial css of product2 */
    transform: var(--prod2-transform);
    filter: var(--prod2-filter);
    z-index: var(--prod2-zIndex);
    opacity: var(--prod2-opacity);
  }
}

/* To animate to Product 3 */
.carousel.next .prodShowcaseList .product:nth-child(2) {
  animation: posItem3Anim 0.7s ease-in-out 1 forwards;
}
@keyframes posItem3Anim {
  from {
    /* Taken from initial css of product2 */
    transform: var(--prod3-transform);
    filter: var(--prod3-filter);
    z-index: var(--prod3-zIndex);
    opacity: var(--prod3-opacity);
  }
}

/* To animate to Product 4 */
.carousel.next .prodShowcaseList .product:nth-child(3) {
  animation: posItem4Anim 0.7s ease-in-out 1 forwards;
}
@keyframes posItem4Anim {
  from {
    /* Taken from initial css of product2 */
    transform: var(--prod4-transform);
    filter: var(--prod4-filter);
    z-index: var(--prod4-zIndex);
    opacity: var(--prod4-opacity);
  }
}

/* To animate to Product 1 */
.carousel.next .prodShowcaseList .product:nth-child(4) {
  animation: posItem1Anim 0.9s ease-in-out 1 forwards;
}
@keyframes posItem1Anim {
  from {
    /* Taken from initial css of product2 */
    transform: var(--prod1-transform);
    filter: var(--prod1-filter);
    z-index: var(--prod1-zIndex);
    opacity: var(--prod1-opacity);
  }
}

/* Prev Arrow Click Effect */
/* To animate to Product 3 */
.carousel.prev .prodShowcaseList .product:nth-child(2) {
  animation: posItem3Anim 0.5s ease-in-out 1 forwards;
}

/* To animate to Product 1 */
.carousel.prev .prodShowcaseList .product:nth-child(2) {
  animation: posItem1Anim 0.5s ease-in-out 1 forwards;
}
/* To animate to Product 2 */
.carousel.prev .prodShowcaseList .product:nth-child(3) {
  animation: posItem2Anim 0.5s ease-in-out 1 forwards;
}

/**** Shop *****/
.shopContent {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 1140px;
  max-width: 90%;
  max-height: 70vh; /* Ensures the section height is constrained */
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center; /* Align items vertically */
  padding: 4em;
  justify-content: space-between;
}

.shopContent .imgContainer {
  width: 50%;
  height: 100%;
  overflow: hidden; /* Prevent content overflow */
  display: flex;
  align-items: center; /* Center the image vertically */
  justify-content: center; /* Center the image horizontally */
}

.shopContent .imgContainer img {
  width: 100%;
  height: 100%; /* Match the height of the parent container */
  border-radius: 20px;
  object-fit: cover; /* Scale the image while keeping the aspect ratio */
}
.shopContent .intro {
  height: 100%;
  width: 50%;
  margin-left: 4em;
  margin-top: 100px;
  align-self: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro .title {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #333;
}

.intro .desc {
  font-family: "Poppins", sans-serif;
  color: #555;
  line-height: 1.6;
  font-size: 1rem;
  font-weight: 300;
}

/* Divider line */
hr {
  width: 70%;
  height: 1.5px;
  justify-self: center;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(rgba(0, 0, 0, 0)),
    color-stop(0.5, #333333),
    to(rgba(0, 0, 0, 0))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    #333333,
    rgba(0, 0, 0, 0)
  );
  background: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    #333333,
    rgba(0, 0, 0, 0)
  );
  background: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    #333333,
    rgba(0, 0, 0, 0)
  );
  background: linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    #333333,
    rgba(0, 0, 0, 0)
  );
  border: 0;
}
hr:after {
  /* For the gradient */
  display: block;
  content: "";
  height: 30px;
  background-image: -webkit-gradient(
    radial,
    50% 0%,
    0,
    50% 0%,
    116,
    color-stop(0%, #cccccc),
    color-stop(100%, rgba(255, 255, 255, 0))
  );
  background-image: -webkit-radial-gradient(
    center top,
    farthest-side,
    #cccccc 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-image: -moz-radial-gradient(
    center top,
    farthest-side,
    #cccccc 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-image: -o-radial-gradient(
    center top,
    farthest-side,
    #cccccc 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-image: radial-gradient(
    farthest-side at center top,
    #cccccc 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* Footer Styles */
.footer {
  color: #555;
  padding: 4rem 0;
  text-align: center;
  font-size: 14px;
}

.footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer p {
  margin: 0;
  padding-bottom: 10px;
}

.footer .social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.footer .social-links a {
  color: #555;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer .social-links a:hover {
  color: #fb9aac;
}
